<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/plainStyle.css">
        <link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
    </head>
    <body>
        <div class="site">
          <div class="header">
            <h2 class="title"><a href="/">{{ site.name }}</a></h3>
          </div>

          {{ content }}
          <div class="friendlink">
            <h3>Friend Links:</h3>
            <ul>
              <li><a href="http://www.nilennoct.com">达神的博客</a></li>
              <li><a href="http://panda.zjutv.com">开拖拉机的熊猫</a></li>
            </ul>
          </div>
          <div class="footer">
            <p>Copyright © 2014 hyice<p>
          </div>
        </div>

    </body>
</html>
